* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 150px 1fr;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

#pageHeader {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    background-color:white;
    color: black;
    border-bottom:  5px grey;
    margin: 0px 10px 0px 40px;
}

#pageHeader .div1{
    display: grid;
    grid-template-columns: 35px 1fr;
}

.searchbox{
    background-color: rgb(225, 230, 238);
    border-radius: 20px;
    margin: 13px 30px 13px 0px;
    height: 30px;
}

#pageHeader .div2{
    display: grid;
    grid-template-columns:40px 40px 1fr ;
    padding-top: 10px;
    padding-left: 50px;
}

.headings{
    font-weight: bold;
}

.mysize{
    margin-top: 10px;
}

#pageHeader .bell-icon{
    padding-top: 5px;
}

#pageHeader .div3{
    display: grid;
    grid-template-columns: 60px 1fr; 
}

#pageHeader .text{
    display: grid;
    font-weight: bold;
    grid-template-rows: 1fr 1fr;
}

.greeting{
    font-size: xx-small;
    font-weight: bolder;
    white-space: pre
}

.text >.div2{
    font-size: medium;
    font-weight: bolder;
} 

.logotext{
    float:left;
    font-weight: bold;
}

.actionButtons{
    text-align: center; 
    color: white;
    background-color: #3d8def;
    border-radius: 20px;
    padding-top: 6px;
    width: 100px;
    height: 40px;
}

/* .div4 >button{
    background-color: #3d8def;
    border-radius: 20px;
    padding-top: 6px;
    width: 100px;
    height: 40px;
} */

#navbox{
    color: white;
    height: 100vh;
    background-color: #428fed;
    line-height: 35px;
    padding: 3vh 2vw 0vh 2vw;
    grid-row-start: 1;
    grid-row-end: 3;   
} 
 
#mainArticle {
    /* height: 85vh; */
    background-color:rgb(225, 230, 238);
    display: grid;
    grid-template-areas:".grid1b .grid2" ;
    grid-template-columns: 5fr 2fr;
    padding: 30px 30px 35px 35px;
    grid-gap: 10px;
} 

.yourprojects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    color: black;
}

.yourprojects >div {
    background-color: white;
    border-radius: 8px;
    border-left: 8px solid #ffb005f6;
    box-shadow: 0 3px 5px rgb(171, 180, 187);
    padding: 15px 25px 17px 15px;
}

#grid1b .text{
font-size: small;
color: rgb(82, 80, 80);
}

#grid2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
    padding-left: 30px;
}

#grid2a .boxB{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgb(171, 180, 187);
    padding: 2px 11px 2px 11px;
    grid-gap: 10px; 
}

#grid2b .trendingContent{
    background-color: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgb(171, 180, 187);
}

 #boxB { 
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    padding: 2px 11px 2px 11px;
    border-radius: 8px;
    grid-gap: 10px; 
    box-shadow: 0 3px 5px rgb(171, 180, 187);
 }

#boxB .text{
    font-size: x-small;
    color: rgb(82, 80, 80);
}

.trendingContent{
    display: grid;
    grid-template-rows:  1fr 1fr 1fr 1fr;
    background-color: white;
    border-radius: 8px;
    padding: 2px 11px 2px 11px;
}